.headerContain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #0c003a;
  color: #fff;
  position: sticky;
  top: 0px;
  z-index: 999;
}

.logo img {
  width: 100%;
  height: 100%;
}

.headerLinks {
  display: flex;
  gap: 30px;
}

.linkWrapper {
  position: relative;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  transition: color 0.3s ease-in-out;
  display: flex;
  padding: 10px;
  align-items: center;
  top: 0px;
  position: relative;
}

.link::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 0;
  background-color: #bc24f1;
  transition: height 0.4s ease-in-out;
}

.link:hover::before {
  height: 100%;
}

.hasDropdown:hover .dropdown {
  display: block;
  opacity: 1;
}

.hasDropdown:hover .dropdownIcon svg {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}

.dropdownIcon {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  transition: transform 1s ease-in-out;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 340px;
  background-color: #0c003a;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  font-size: 13px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    visibility 0.3s;
  display: none;
}

.hasDropdown:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdownLink {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0;
  font-size: 12px;
  position: relative;
  overflow: hidden;
}

.dropdownLink::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #bc24f1;
  transition: width 0.4s ease-in-out;
}

.dropdownLink:hover::before {
  width: 100%;
}

.headerBtn button {
  background-color: #fff;
  border: 0px;
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 14px;
  font-family: unset;
  cursor: pointer;
}

.headerBtn button:hover {
  background-color: #bc24f1;
  color: #fff;
  transition: background 0.3s ease-in-out;
}

.headerBtn button > a {
  color: #bc24f1;
  text-decoration: none;
  font-size: 14px;
}

.headerBtn:hover button > a {
  color: #fff;
}

.closeSidebar,
.menuToggle,
.mobilelogo {
  display: none;
}

.menu {
  display: flex;
}

/* Mobile view */
@media (max-width: 768px) {
  .headerContain {
    padding: 15px 20px;
  }

  .link {
    font-size: 16px;
  }

  .link::before {
    display: none;
  }

  .dropdownLink {
    font-size: 15px;
    padding: 15px 20px !important;
  }

  .headerLinks {
    display: none;
  }

  .menuToggle {
    display: block;
    cursor: pointer;
  }

  .menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .sidebar {
    position: fixed;
    left: -100%;
    top: 0;
    width: 350px;
    height: 100%;
    background-color: rgba(21, 34, 43, 1);
    z-index: 1000;
    padding: 20px;
    transition: left 1s ease;
  }

  .showSidebar {
    left: 0;
  }

  .closeSidebar {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .dropdown {
    position: relative;
    width: 100%;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    display: none;
  }

  .dropdownLink {
    padding: 0.5rem 1rem;
  }

  .headerBtn {
    display: none;
  }

  .mobilelogo {
    display: block;
    width: 100%;
    height: 100%;
  }
  .dropdown {
    transition: unset;
  }
}
