.pageContainer {
  width: 100%;
  padding: 100px 150px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.headerText {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.headerText h6 {
  font-weight: 400;
  font-size: 16px;
}

.headerText h2 {
  font-size: 40px;
  line-height: 1;
}

.sectionContain {
  display: flex;
  align-items: center;
}

.colOne {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.colTwo {
  width: 40%;
}

.middleImg {
  width: 100%;
  height: 100%;
}

.colCard {
  display: flex;
  padding: 30px;
  border-radius: 10px;
  gap: 20px;
  cursor: pointer;
  color: #bc24f1;
  box-shadow: 6px 5px 30px 0px rgba(0, 0, 0, 0.12);
}

.colCard:hover {
  background-color: #110445;
  color: #fff;
  transition: background 1s ease;
}

.colCard2 {
  display: flex;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  gap: 20px;
  box-shadow: 6px 5px 30px 0px rgba(0, 0, 0, 0.12);
  position: relative;
  color: #bc24f1;
  left: -50px;
}

.colCard2:hover {
  background-color: #110445;
  color: #fff;
  transition: background 1s ease;
}

.colCard3 {
  display: flex;
  padding: 30px;
  border-radius: 10px;
  gap: 20px;
  cursor: pointer;
  box-shadow: 6px 5px 30px 0px rgba(0, 0, 0, 0.12);
  position: relative;
  right: -50px;
  color: #bc24f1;
}

.colCard3:hover {
  background-color: #110445;
  color: #fff;
  transition: background 1s ease;
}

.colThree {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.otherTexts {
  color: #2d2d2d;
}

.otherTexts h3 {
  font-size: 23px;
  line-height: 1;
  padding-bottom: 10px;
}

.otherTexts p {
  line-height: 1.6;
}

.colCard:hover .otherTexts {
  color: #fff;
}

.colCard2:hover .otherTexts {
  color: #fff;
}

.colCard3:hover .otherTexts {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .pageContainer {
    padding: 100px 20px;
  }
  .sectionContain {
    flex-direction: column;
  }
  .colOne {
    width: unset;
  }
  .colTwo {
    width: unset;
    height: 300px;
  }
  .colThree {
    width: unset;
  }
  .colCard2 {
    left: 0px;
  }
  .colCard3 {
    right: 0px;
  }
}
