.formContain {
  width: 60%;
  margin: 60px auto;
  background-color: #0c003a;
  padding: 40px;
  border-radius: 10px;
}

.formContain h2 {
  font-size: 40px;
  line-height: 1;
  color: #fff;
}

.formContain p {
  font-size: 16px;
  padding-bottom: 40px;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Contain {
  display: flex;
  gap: 10px;
}

.forms {
  width: 100%;
  padding: 15px;
  font-family: unset;
  border: 0px;
  outline: 0px;
  border-radius: 4px;
}

.forms::placeholder {
  font-family: unset;
}

.textArea {
  height: 120px;
  padding: 15px;
  font-family: unset;
  border-radius: 4px;
  outline: none;
}

.textArea::placeholder {
  font-family: unset;
}

.form button {
  width: 200px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: unset;
  background-color: #bc24f1;
  color: #fff;
  border: 0px;
  border-radius: 4px;
}

.Contain > div {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .formContain {
    width: unset;
    margin: 20px 20px 50px 20px;
    padding: 20px;
  }
}
