.pgContain {
  background-image: url("../../public/assets/section-bg-7.jpg");
  background-size: cover;
  background-position: center;
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contain {
  margin: auto;
  width: 80%;
  text-align: center;
  line-height: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contain h6 {
  font-size: 14px;
}
.contain h2 {
  font-size: 40px;
}

.contain p {
  font-size: 16px;
  width: 50%;
  margin: auto;
  line-height: 1.7;
  color: #616161;
}

.allTabs {
  width: 65%;
  margin: auto;
}

.tabsText {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
  font-family: unset !important;
  text-transform: uppercase;
}

.iconBox {
  color: #bc24f1;
}
.tabPanel {
  position: relative;
  height: 100%;
  transition: transform 0.8s ease-in-out, opacity 0.3s ease-in-out;
}

.slideIn {
  transform: translateY(0);
  opacity: 1;
}

.slideOut {
  transform: translateY(20%);
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .pgContain {
    padding: 80px 20px;
  }
  .contain {
    width: unset;
  }
  .contain h2 {
    font-size: 30px;
  }
  .contain p {
    width: unset;
  }
  .css-1whvz4d {
    grid-template-columns: 2fr;
  }
  .allTabs {
    width: unset;
  }
}
