.pgContain {
  width: 100%;
  background-image: url("../../public/assets/section-bg-10.jpg");
  background-size: cover;
  background-position: center;
  padding: 80px 0px;
}

.pgContain h6 {
  font-size: 16px;
  text-align: center;
}

.pgContain h2 {
  font-size: 45px;
  text-align: center;
  margin-bottom: 40px;
}

.Testimonials {
  width: 50%;
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
  padding: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  box-shadow: 6px 5px 20px 0 rgba(0, 0, 0, 0.12);
}

.Testimonials p {
  font-size: 18px;
  color: #616161;
  text-align: center;
}

.Testimonials > div h3 {
  font-size: 25px;
  text-align: center;
}
