.pgContain {
  width: 70%;
  margin: auto;
  padding: 50px 0px;
  display: flex;
  align-items: center;
}

.colOne {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.colOne h6 {
  font-size: 14px;
  line-height: 1;
}

.colOne h2 {
  font-size: 40px;
  line-height: 1;
}

.colOne p {
  font-size: 16px;
  color: #616161;
  width: 80%;
  line-height: 1.7;
}

.colTwo {
  width: 50%;
}
.colTwo img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .pgContain {
    width: unset;
    padding: 50px 20px;
    flex-direction: column-reverse;
  }
  .colOne {
    width: unset;
  }
  .colOne h2 {
    font-size: 30px;
  }
  .colOne p {
    width: unset;
  }
  .colTwo {
    width: unset;
  }
}
